<GridLayout class="page" rows="auto, *, 100" columns="*, *, *"
			orientation="horizontal" horizontalAlignment="center" class="body" >

	<AbsoluteLayout row="1" col="0" colSpan="3" class="gradradius" >
	</AbsoluteLayout>

	<AbsoluteLayout row="1" col="0" colSpan="3" rowSpan="3" class="gradradius2" >
	</AbsoluteLayout>

	<AbsoluteLayout row="2" col="3" class="morecamera" >
		<Button text="F" (tap)="toggleTheCamera()" class="flipcamera">
		</Button>
		<Button text="V" (tap)="onButtonTap()" class="videocamera"></Button>
	</AbsoluteLayout>

	<AbsoluteLayout row="2" col="0" class="moregallery" >
		<Button text="G" (tap)="onButtonTap()" class="opengallery"></Button>
	</AbsoluteLayout>

	<AbsoluteLayout col="0" class="menuplace">
		<AbsoluteLayout text="M" (tap)="onButtonTap()" class="openmenu">
			<Label class="wave_btn1" ></Label>
			<Label class="wave_btn2"></Label>
			<Label class="wave_btn3"></Label>
		</AbsoluteLayout>

	</AbsoluteLayout>

	<Label text="FaceMe" col="1" (tap)="onButtonTap()"  class="FaceMe">
	</Label>

	<Button row="2" col="1" (tap)="takePicFromCam()" class="mainbtn" shadow="2" >
	</Button>

    <AbsoluteLayout row="0" col="2" (tap)="create()" class="playbtn">
		<Label text="PlayMe" class="playtext" ></Label>
		<Image src="~/app/images/play.png" class="playicon" ></Image>

    </AbsoluteLayout>

	<!--<AbsoluteLayout row="1" col="0" colSpan="3" class="wave_circle_container" >
		<Label class="wave_circle1"></Label>
		<Label class="wave_circle2"></Label>
		<Label class="wave_circle3"></Label>
		<Label class="wave_circle4"></Label>
	</AbsoluteLayout>-->

	<AbsoluteLayout class="maincircle" row="1" col="0" colSpan="3">
		<CameraPlus *ngIf='!isPreview'   debug="true" galleryPickerMode="single" showFlashIcon="false" showToggleIcon="false"
					showCaptureIcon="false" showGalleryIcon="false" (loaded)="camLoaded($event)"
					(toggleCameraEvent)="toggleCameraEvent($event)" (photoCapturedEvent)="photoCapturedEvent($event)"
					(imagesSelectedEvent)="imagesSelectedEvent($event)" class="camerapreview" >
			<!--<GridLayout rows="*, auto, *" columns="*, auto, *" borderwidth="3" bordercolor="white" class="camerapreview">
                <GridLayout colSpan="3" class="bg-overlay"></GridLayout>
                <GridLayout row="1" class="bg-overlay"></GridLayout>
                <GridLayout row="1" col="2" class="bg-overlay"></GridLayout>
                <GridLayout row="2" colSpan="3" class="bg-overlay"></GridLayout>
            </GridLayout>-->
			<!--<Image src="~/app/images/outerline.png" class="outerline" ></Image>-->
		</CameraPlus>
	</AbsoluteLayout>

	<ScrollView  row="1" col="0" rowSpan="2" colSpan="3" orientation="horizontal" scrollBarIndicatorVisible="true" class="peopleplace">
		<StackLayout  (itemTap)="onItemTap($event)" orientation="horizontal" row="1" col="0" rowSpan="2" colSpan="3" >
			<GridLayout *ngFor="let item of faces" rows="*" columns="*" class="swiper-slide" >
				<Image [src]="item.imageSrc" class="swiper-img"></Image>
				<Image src="~/app/images/delete.png" class="swiper-btn" (tap)="deleteFace(item.id)"></Image>
			</GridLayout>
		</StackLayout>
    </ScrollView>

	<AbsoluteLayout class="wave_bottom" row="2" col="0" rowSpan="2" colSpan="2" >
		<Label class="wave_b1"></Label>
		<Label class="wave_b2"></Label>
		<Label class="wave_b3"></Label>
	</AbsoluteLayout>

	<AbsoluteLayout class="wave_bottom_right" row="2" col="1" rowSpan="2" colSpan="2" >
		<Label class="wave_b1"></Label>
		<Label class="wave_b2"></Label>
		<Label class="wave_b3"></Label>
	</AbsoluteLayout>

</GridLayout>
